body{
    margin: 0;
}

.items_div{
    display: inline-block;
    background-color: aqua;
    height: 100vh;
    width: 60%;
}

.checkout_div{
    display: inline-block;
    height: 100vh;
    width: 39%;
    background-color: red;
}

